name: Full Deployment

on:
  push:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  game-tests:
    uses: ./.github/workflows/game-tests.yaml
    secrets: inherit
  
  semantic-release:
    needs: game-tests
    uses: ./.github/workflows/semantic-release.yaml
    secrets: inherit
    with:
      dry-run: true
  
  deploy:
    needs: [semantic-release, game-tests]
    if: needs.semantic-release.outputs.new_release_published == 'true'
    uses: ./.github/workflows/release.yaml
    secrets: inherit
    with:
      new_release_version: ${{ needs.semantic-release.outputs.new_release_version }}
      changelog: ${{ needs.semantic-release.outputs.changelog }}
  
  set-version-tags:
    needs: deploy
    uses: ./.github/workflows/semantic-release.yaml
    secrets: inherit
    with:
      dry-run: false